p{
    text-decoration: underline;
    text-transform: uppercase;
    text-align:right;
    line-height: 3px;
    word-spacing: 3px;
    letter-spacing: 3px;
    overflow: auto;
    color: black;
    background-color: red;
    text-indent: 25px;
    text-shadow: 2px 2px 5px blue;
}
img{
    border-radius: 50%;
}
.border{
    border:5px solid black;
    margin:10px;
    padding:20px;
}
#name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}
.ol{
    display: flex;
    flex-direction: row;
}
body{
    background-image: url("./Image0052.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}